*{
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.card-margin {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 20px;
    max-width: 30em;
    height: 35em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 5px;
}

.card-border {
    background-color: rgb(104, 104, 212);
    border-radius: 15px;
    border: none;
    height: 30rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-padding {
    background-color: lightblue;
    padding: 10px;
    height: 28rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.card-content {
    max-width: 400px;
    background-color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
}
.bg-color{
    background-color: rgb(75, 144, 218);
    border-radius: 10px 10px 0px 0px;
    height: 140px;
    padding-top: 5px;
}
figure{
    border: 3px solid white;
    background-color: white;
    border-radius: 100%;
    width: 160px;
    height: 160px;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.card-margin img{
    background-color: rgb(75, 144, 218);
    border: none;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    transition: transform 1.5s ease;
}
img:hover{
    transform: rotateY(180deg);
}
h2{
    font-family:'Courier New', Courier, monospace;
    margin-top: 30px;
}
p{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 25px;
}
